:root {
    --main-blue-darker: #0e2a3f;
    --main-blue: #163d5b;
    --main-blue-light: #2a5d85;
    --main-orange: #e87244;
    --main-orange-dark: #c35330;
    --main-white: #ffffff;
    --main-black: #000000;
    --main-grey: #2e2e2e;
}

html,
body {
    margin: 0;
    height: 100%;
    font-family: roboto;
    background: var(--main-blue);
    background: radial-gradient(circle, var(--main-blue) 0%, var(--main-blue-darker) 59%);
}

.myface {
    width: 10em;
}

.icon {
    width: 3em;
    margin: 0.8em;
    transition: 0.3s;
}

.icon:hover {
    scale: 1.2;
}

.page {
    text-align: center;
    padding: 2em 0em;
}

.container{

}

.text-container {
    text-align: center;
    font-family: roboto;
}

.name-title {
    color: var(--main-white);
    text-shadow: 2px 2px 2px black;
    display: inline-block;
}
.flags-title {
    display: inline-block;
    font-size: 200%;
    margin-left: 0.4em;
}

.myface {
    width: 10em;
}