:root {
    --main-blue: #163d5b;
    --main-blue-light: #2a5d85;
    --main-orange: #e87244;
    --main-orange-dark: #c35330;
}

html,
body {
    margin: 0;
    height: 100%;
    font-family: roboto;
}

.name-title {
    text-shadow: 2px 2px 2px black;
    display: inline-block;
}

.flags-title {
    display: inline-block;
    font-size: 200%;
    margin-left: 0.4em;
}

.container {
    /* background: linear-gradient(326deg, rgba(2, 0, 36, 1) 0%, rgb(22 61 92) 58%, rgba(0, 212, 255, 1) 100%); */
    background: var(--main-orange);
    background: radial-gradient(circle, var(--main-orange) 0%, var(--main-orange-dark) 59%);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-wide {
    width: 100%;
    background: var(--main-orange);
    background: radial-gradient(circle, var(--main-orange) 0%, var(--main-orange-dark) 59%);
    color: white;
}

.inner-container-wide {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin-top: 1em; */
}

.header-container {
    display: flex;
    justify-content: center;
}

.text-container {
    text-align: center;
    font-family: roboto;
}

#talks-button {
    border-radius: 0.5em;
    padding: 0.5em;
    background: var(--main-blue);
    font-size: 150%;
    margin-bottom: 0.5em;
    color: white;
    border: 2px solid white;
    font-family: roboto;
}

/* 
.links-container-wide{
text-align: center;
background: white;
border-radius: 0.5em;
padding: 0.5em;
border: 3px solid var(--main-blue);
width: 90%;
margin-top: 0.5em;
color: black;
margin: 0.3em auto;
} */

.links-container {
    text-align: center;
    background: white;
    border-radius: 0.5em;
    padding: 1em;
    border: 3px solid var(--main-blue);
}

#talks-container {
    /* width: 100%; */
}

.links-container-wide {
    display: flex;
    margin: 1em;
}

.talk-date {
    margin-right: 0.5em;
    font-size: 120%;
    white-space: nowrap;
}

.talk-talk-block {
    background: white;
    width: 80%;
    padding: 0.3em;
    border-radius: 6px;
}

.talk-title {
    font-size: 120%;
    color: var(--main-blue);
    font-weight: 900;
}

.talk-location {
    margin-top: 2px;
    color: var(--main-blue-light);
    font-style: italic;
}

.online {
    background: var(--main-orange);
    color: white;
    padding: 0px 4px;
    border-radius: 3px;
}

.year {
    /* text-align: center; */
    font-size: 200%;
    margin: 1em;
}

.year-amount{
    font-size: 80%;
    font-style: italic;
    color: rgba(255, 255, 255, 0.6);
}

.icon {
    width: 100px;
    margin: 1em;
}

p {
    margin: 0px !important;
}

.myface {
    width: 10em;
}

.myface-talks {
    width: 5em;
    position: absolute;
    left: 0;
    top: 0;
    margin: 0.5em;
}

@font-face {
    font-family: roboto;
    src: url("../media/font/Roboto-Regular.ttf");
}

.larger-image {
    width: 80%;
    pointer-events: none;
    border-radius: 5px;
    border: 0.5em solid white;
    box-shadow: 0px 0px 3em black;
    /* transform: translate(50%, 50%); */
}

.selfie-image {
    width: 10em;
    margin: 0.5em;
    border-radius: 10px;
}

.selfie-image:hover {}

/* #generic-dialog::backdrop {
    background: black;
} */

#generic-dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    pointer-events: none;
    width: 75%;
    transform: translate(-50%, -50%);
}

.talk-flex-container {
    display: flex;
    justify-content: space-between;
}

#games-container{
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
}

.game-box{
    background: white;
    padding: 1em;
    color: black;
    border: 2px solid black;
    border-radius: 5px;
    flex: 1;
}

.game-title{
    
}