#talks-container {
    display: flex;
    flex-direction: column;
    max-width: 80%;
    margin: 0 auto;
}



img {
    width: 10px;
}

.year-header-container {
    display: flex;
    flex-direction: row;
    margin: 2em 1em;
    align-items: center;
    gap: 0.5em;
}

.year-header-year {
    font-size: 200%;
}

.year-header-amount {
    font-size: 120%;
    font-style: italic;
}

.year-header-line {
    flex: 1;
    background: white;
    height: 2px;
    /* width: 10px; */
    margin: 0 2em;
    opacity: 0.5;
}

.talks-row {
    display: flex;
    gap: 1em;
    justify-content: center;
    margin: 1em 2em;
}


.inner-talk-flex-container {
    display: flex;
    justify-content: space-between;
}

.inner-talk-block {
    background: var(--main-white);
    color: var(--main-blue);
    flex: 1;
    margin: 0 1em;
    display: flex;
    gap: 0.5em;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    padding: 0.5em;
    max-width: 80%;
    min-width: 40%;
}

.inner-talk-block-text {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 0.5vh;
    flex: 1;
    /* max-width: 50%; */
}

.talk-date {
    font-size: 150%;
}



.selfie-image {
    /* width: 12em; */
    width: 14vw;
    min-width: 100px;
    /* margin: 0.5em; */
    border-radius: 10px;
}

.selfie-image:hover {}



.talk-title {
    /* font-size: 120%; */
    /* font-size: 3vw; */
    font-size: clamp(1.3rem, 1.95vw, 3rem);
    color: var(--main-blue);
    font-weight: 900;
}

.talk-location {
    font-size: clamp(0.75rem, 1.5vw, 1rem);
    /* font-size: 120%; */
    color: var(--main-blue);
}

.talk-link {
    font-size: clamp(0.65rem, 1.4vw, 1rem);
    /* max-width: 50%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; */
}

/* #generic-dialog::backdrop {
    background: black;
} */

#generic-dialog {
    /* position: fixed;
    top: 50%;
    left: 50%;
    pointer-events: none;
    width: 75%;
    transform: translate(-50%, -50%); */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    pointer-events: none;
    background: rgba(0, 0, 0, 0.4);
}

.larger-image {
    width: 60%;
    pointer-events: none;
    border-radius: 5px;
    border: 0.5em solid white;
    box-shadow: 0px 0px 3em black;
    /* transform: translate(50%, 50%); */
}

/* IMPORTANT TO HAVE THESE LAST */
/* Any size greater than this gets these... */
/* @media only screen and (min-width: 900px) {


    .selfie-image {
        width: 1em;
    }

    .larger-image {
        width: 60%;
    }
} */
.myface {
    width: 6em;
    position: absolute;
    margin: 1em;
}

/* Anything Less than this gets these... */
@media only screen and (max-width: 1000px) {


    .selfie-image {
        width: 12em;
    }


}

@media only screen and (max-width: 700px) {
    .myface {
        width: 5em;
        /* margin-bottom: 9em; */
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }

    #talks-container {
        display: flex;
        flex-direction: column;
        max-width: 100%;
        margin: 0 auto;
    }

    .talks-row {
        display: block !important;
        gap: 1em;
        justify-content: center;
        margin: 0.5em 1em;
    }

    .talk-date {
        font-size: 120%;
        margin-bottom: 0.2em;
    }

    .inner-talk-block {
        margin: 0 auto;
    }

    .year-header-container {
        margin: 1em 1em;
    }

    .selfie-image {
        width: 10em;
    }

    .larger-image {
        width: 80%;
    }

    /* 
    .talk-title {
        font-size: 2em;
    }

    .talk-location {
        font-size: 1.5em;
    } */
}